

.mainContainer {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;

    .container {
        border-radius: 0.25rem;
        margin-right: 10px;
        position: relative;
        box-shadow: 0 0 5px 1px gainsboro;
        flex-basis: calc(50% - 10px);
        margin-bottom: 20px;


        img {
            width: 100%;
            object-fit: fill;


        }

        .lessons {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            h3:last-child {
                color: rgb(200, 177, 48);

            }
        }
    }
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    object-fit: cover;
    display: none;
}

.container:hover video {
    display: block;
}

/*smaller than 526px*/
@media (max-width: 526px) {
    .mainContainer {
        flex-direction: column;
    }
}

/* 526px and 767px */
@media (min-width: 526px) and (max-width: 767px) {
    .title
    {
        font-size: 15px;
    }

    .lessons h3
    {
        font-size: 12px;
    }
}

/* 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .title
    {
        font-size: 25px;
    }

    .lessons h3
    {
        font-size: 15px;
    }
}


