// colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;


// font sizes
$base-font-size: 16px;
$small-font-size: 12px;
$medium-font-size: 18px;
$large-font-size: 24px;
$extra-large-font-size: 36px;

// font weights
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;

// sizes
$border-radius: 4px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;

// breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


//invisible
$invisible:none;



